{
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always"],
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "no-multi-spaces": ["error"],
    "no-trailing-spaces": ["error"],
    "space-before-function-paren": ["error", "never"],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "no-undef": "off"
  }
}